
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// Base
@import "base/reset";
@import "base/mixins";
@import "base/extends";
@import "base/variables";

// Layout
@import "home/hero";
@import "home/footer";

// Home
@import "home/listings";
@import "home/tricks";
@import "home/featured";
@import "home/testimonial";
@import "home/agents";

// Properties
@import "properties/properties";

@import "agents/agents";

@import "add/add";

// Contact
@import "contact/header";
@import "contact/contact";



