// Variables
$darkBlue:   #005094;
$linkColor:  #9eaaca;
$headerFont: 'Roboto Condensed', sans-serif;
$copyFont:   'Lato', sans-serif;
$accentBlue: #5b86d7;
$accentRed: #f75555;
$subtleBlue: #2d437b; // for copy and small text
$borderGrey: #d6dde9;

%borderRight { border-right: 2px solid $borderGrey; }

// Styles
.intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    justify-content: center;

    height: 800px;
    background: url('../../img/bath.jpg') no-repeat center center;
    background-size: cover;

    // Header-Logo-Navigation Styles
    // overall header styles
    .intro--header {
        background-color: $darkBlue;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            width: 960px;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .intro--logo {
            height: 80px;
        }

        // navigation styles
        .intro--list {
            width: 500px;
            height: 100%;
            display: flex;
        }

        .list--link {
            font-size: 16px;
            text-decoration: none;
            color: $linkColor; 
            font-family: $headerFont;
            font-weight: bold;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $accentBlue;
                color: #fff;
            }
        }
        //end of navigation styles
    }
    // End Of Header-Navigation Styles

    .intro--search {
        display: flex;
        width: 960px;
        justify-self: center;
        align-self: end;
        margin-bottom: -50px;

        .intro--input, 
        .intro--listings, 
        .listings--btn {
            height: 100px;
            padding: 40px;
            border: none;
        }

        .intro--input {
            width: 60%;
            @extend %borderRight;
            &::placeholder {
                color: $subtleBlue;
                font-family: $copyFont;
                font-size: 15px;
            }
        }

        .intro--listings.type {
            @extend %borderRight;
            width: 22%;
        }

        .intro--listings.beds {
            width: 18%;
        }

        select, option {
            color: $subtleBlue;
            font-family: $copyFont;
            font-size: 15px;
        }
        
        select:focus { outline: none; }

        .listings--btn {
            width: 100px;
            background-color: $accentRed;
            .fas {
                color: #fff;
            } 
        }
    }
}
