@import "variables";
@import "mixins";
@import "extends";



// Styles
.intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    justify-content: center;

    height: 800px;
    background: url('../../img/bath.jpg') no-repeat center center;
    background-size: cover;

    // Header-Logo-Navigation Styles
    // overall header styles
    .intro--header {
        background-color: $darkBlue;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            width: 960px;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .intro--logo {
            height: 80px;
        }

        // navigation styles
        .intro--list {
            width: 750px;
            height: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .list--link {
            font-size: 16px;
            text-decoration: none;
            color: $linkColor; 
            font-family: $headerFont;
            font-weight: bold;
            //width: 100%;
            padding: 0 40px; 
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $accentBlue;
                color: #fff;
            }

            &:last-of-type {
                background-color: #fff;
                color: $accentRed;

                &:hover {
                    background-color: $accentBlue;
                    color: #fff;
                }
            }
        }
        //end of navigation styles
    }
    // End Of Header-Navigation Styles

    // Intro Search Form Section Styles
    .intro--search {
        display: flex;
        width: 960px;
        justify-self: center;
        align-self: end;
        margin-bottom: -50px;
        @extend %boxShadow;

        .intro--input, 
        .intro--listings, 
        .listings--btn {
            height: 100px;
            padding: 40px;
            border: none;
        }

        .intro--input {
            width: 60%;
            @extend %borderRight;
            &::placeholder {
                color: $subtleBlue;
                font-family: $copyFont;
                font-size: 15px;
            }
        }

        .intro--listings.type {
            @extend %borderRight;
            width: 22%;
        }

        .intro--listings.beds {
            width: 18%;
        }

        select, option {
            color: $subtleBlue;
            font-family: $copyFont;
            font-size: 15px;
        }

        .listings--btn {
            background-color: $accentRed;
            color: #fff;

            &:hover {
                background-color: $accentBlue;
            }
        }
    }
}








