
// Variables
$darkBlue:   #005094;
$linkColor:  #9eaaca;
$headerFont: 'Roboto Condensed', sans-serif;
$copyFont:   'Lato', sans-serif;
$headerBlue: #0e1832;
$headingBlue: #173857;
$accentBlue: #5b86d7;
$accentRed:  #f75555;
$subtleBlue: #2d437b; // for copy and small text
$borderGrey: #d6dde9;
$grey: #a1a6b1;





















