@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v3.0 | 20180413
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.intro .intro--search .intro--input, .intro .intro--search .intro--listings.type {
  border-right: 2px solid #d6dde9; }

.contact .form .contact--article .input--group .contact--input, .contact .form .contact--article .contact--textarea {
  border: 1px solid #d6dde9; }

.intro .intro--search {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1); }

.listings .container .listings--title .listings--heading, .tricks .tricks--modules .tricks--heading, .contact .form .contact--article .article--heading {
  font-size: 32px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #203260; }

.intro .container .module .module--article .module--heading, .listings .container .listings--modules .module--article .heading--group .module--heading, .tricks .tricks--modules .modules--group .module--heading, .add .wrapper .form--group .group--label {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #203260; }

.intro .container .module .module--article p:first-of-type, .footer .container .footer--modules .module--copy, .listings .container .listings--modules .module--article p:first-of-type, .tricks .tricks--modules .modules--group .module--copy, .agent .agent--bio .agent--article .agent--copy, .add .wrapper .form--group .group--input, .contact .form .contact--article .article--copy {
  color: #a1a6b1;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  font-weight: 300;
  padding-top: 16px;
  line-height: 22px; }

.footer .container .module--form .module--input, .footer .container .module--form .module--btn, .add .wrapper .signin .signin--btn, .add .wrapper .form--group .group--input, .add .add--btn, .contact .form .contact--article .contact--btn {
  padding: 0;
  margin: 0;
  border: none; }

.intro--header {
  background-color: #203260;
  display: flex;
  justify-content: center;
  align-items: center; }
  .intro--header .container {
    width: 1170px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .intro--header .intro--logo {
    height: 80px; }
  .intro--header .intro--list {
    width: 750px;
    height: 100%;
    display: flex;
    justify-content: flex-end; }
    .intro--header .intro--list .list--item {
      display: flex;
      justify-content: center;
      align-items: center; }
      .intro--header .intro--list .list--item .list--link {
        font-size: 14px;
        text-decoration: none;
        color: #9eaaca;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        padding: 43px 40px;
        vertical-align: center;
        transition: all 0.5s ease-in-out; }
        .intro--header .intro--list .list--item .list--link:hover {
          background-color: #5b86d7;
          color: #fff; }
      .intro--header .intro--list .list--item:last-child {
        background-color: #fff; }
        .intro--header .intro--list .list--item:last-child .list--link {
          color: #f75555; }
          .intro--header .intro--list .list--item:last-child .list--link:hover {
            color: #fff; }
        .intro--header .intro--list .list--item:last-child:hover {
          background-color: #5b86d7;
          color: #fff; }

.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  justify-content: center;
  height: 800px; }
  .intro .container {
    width: 1170px;
    height: 400px;
    display: flex;
    justify-self: center;
    align-items: flex-end; }
    .intro .container .module {
      border: 1px solid #d6dde9;
      width: 450px;
      height: 210px;
      background-color: #fff; }
      .intro .container .module .module--article {
        height: auto; }
        .intro .container .module .module--article .module--heading,
        .intro .container .module .module--article p:first-of-type {
          padding-left: 16px; }
        .intro .container .module .module--article .module--heading {
          padding-top: 16px; }
        .intro .container .module .module--article p:last-of-type {
          color: #203260;
          font-family: "Lato", sans-serif;
          font-size: 100%;
          padding: 16px 0 16px 16px; }
      .intro .container .module .module--info {
        border-top: 1px solid #d6dde9;
        margin: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px; }
        .intro .container .module .module--info p {
          font-size: 18px;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 700;
          color: #5b86d7; }
        .intro .container .module .module--info .module--btn {
          font-size: 11px;
          color: #fff;
          background-color: #f75555;
          border: none;
          padding: 10px;
          transition: all 0.5s ease-in-out; }
          .intro .container .module .module--info .module--btn:hover {
            background-color: #5b86d7;
            cursor: pointer; }
  .intro .intro--search {
    display: flex;
    width: 1170px;
    justify-self: center;
    align-self: end;
    margin-bottom: -50px; }
    .intro .intro--search .intro--input,
    .intro .intro--search .intro--listings,
    .intro .intro--search .listings--btn {
      height: 100px;
      padding: 40px;
      border: none; }
    .intro .intro--search .intro--input {
      width: 60%; }
      .intro .intro--search .intro--input::-webkit-input-placeholder {
        color: #2d437b;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 15px; }
      .intro .intro--search .intro--input:-ms-input-placeholder {
        color: #2d437b;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 15px; }
      .intro .intro--search .intro--input::-ms-input-placeholder {
        color: #2d437b;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 15px; }
      .intro .intro--search .intro--input::placeholder {
        color: #2d437b;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 15px; }
    .intro .intro--search .intro--listings.type {
      width: 22%; }
    .intro .intro--search .intro--listings.beds {
      width: 18%; }
    .intro .intro--search select, .intro .intro--search option {
      color: #2d437b;
      font-family: "Lato", sans-serif;
      font-size: 15px; }
    .intro .intro--search .listings--btn {
      background-color: #f75555;
      color: #fff;
      transition: all 0.5s ease-in-out; }
      .intro .intro--search .listings--btn:hover {
        background-color: #5b86d7; }

.footer {
  height: 460px;
  background-color: #19274b;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .container {
    width: 1170px; }
    .footer .container .footer--modules {
      display: flex;
      justify-content: space-between; }
      .footer .container .footer--modules .footer--module {
        width: 25%; }
        .footer .container .footer--modules .footer--module .module--heading {
          font-size: 16px;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 700;
          color: #f3eee5;
          padding-bottom: 40px;
          margin-top: 80px; }
        .footer .container .footer--modules .footer--module .list--item {
          padding: 10px 0 5px 0; }
        .footer .container .footer--modules .footer--module .list--link {
          color: #f3eee5;
          text-decoration: none;
          font-family: "Lato", sans-serif;
          font-size: 14px; }
        .footer .container .footer--modules .footer--module .fas {
          margin-right: 10px; }
      .footer .container .footer--modules .footer--logo {
        width: 60px;
        margin-bottom: 40px; }
    .footer .container .module--nav {
      display: flex;
      justify-content: flex-start; }
      .footer .container .module--nav .module--list {
        padding-right: 40px; }
    .footer .container .module--form {
      width: 100%;
      margin-top: 12px; }
      .footer .container .module--form .module--input {
        width: 70%;
        height: 50px; }
      .footer .container .module--form .module--btn {
        width: 30%;
        height: 50px;
        margin-left: -4px;
        background-color: #5b86d7;
        color: #f3eee5;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-weight: 700; }
    .footer .container .social {
      display: flex;
      justify-content: flex-start;
      padding-top: 20px; }
      .footer .container .social .list--item {
        margin-right: 15px; }
        .footer .container .social .list--item .fab {
          color: #5b86d7; }

.carousel-inner {
  height: 800px;
  z-index: -100; }
  .carousel-inner .carousel-item img {
    height: 800px; }

.carousel-control-prev,
.carousel-control-next {
  margin-top: 40vh;
  margin-left: 100px;
  height: 75px;
  width: 75px;
  background: #203260;
  opacity: 1;
  z-index: 110;
  transition: background-color 0.2s ease-in-out; }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    background-color: #5b86d7;
    outline: none;
    opacity: 1; }

.carousel-control-next {
  margin-right: 100px; }

.listings {
  display: flex;
  justify-content: center; }
  .listings .container {
    width: 1170px;
    display: grid;
    grid-template-rows: 250px 1fr; }
    .listings .container .listings--title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 50px; }
      .listings .container .listings--title .listings--title-btn {
        border: none;
        background-color: transparent;
        color: #f75555;
        border: 1px solid #f75555;
        text-transform: uppercase;
        padding: 5px 10px;
        font-size: 11px;
        font-weight: 400;
        font-family: "Lato", sans-serif;
        transition: all 0.5s ease-in-out; }
        .listings .container .listings--title .listings--title-btn:hover {
          background-color: #5b86d7;
          color: #fff;
          border: 1px solid transparent;
          cursor: pointer; }
    .listings .container .listings--modules {
      display: flex;
      justify-content: space-between; }
      .listings .container .listings--modules .module {
        border: 1px solid #d6dde9;
        width: 32%;
        height: 450px;
        position: relative; }
        .listings .container .listings--modules .module .flag {
          background-color: #203260;
          display: inline-block;
          color: #f3eee5;
          font-size: 12px;
          font-family: "Lato", sans-serif;
          text-transform: uppercase;
          padding: 5px 10px;
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: 100; }
        .listings .container .listings--modules .module .module--thumb {
          display: inline-block;
          width: 100%;
          height: 60%;
          overflow: hidden; }
          .listings .container .listings--modules .module .module--thumb .one, .listings .container .listings--modules .module .module--thumb .two, .listings .container .listings--modules .module .module--thumb .three {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all 0.5s ease-in-out;
            overflow: hidden; }
            .listings .container .listings--modules .module .module--thumb .one:hover, .listings .container .listings--modules .module .module--thumb .two:hover, .listings .container .listings--modules .module .module--thumb .three:hover {
              -webkit-transform: scale(1.1);
                      transform: scale(1.1); }
        .listings .container .listings--modules .module .one {
          background-image: url("../img/module-img3.jpg"); }
        .listings .container .listings--modules .module .two {
          background-image: url("../img/module-img2.jpg"); }
        .listings .container .listings--modules .module .three {
          background-image: url("../img/module-img.jpg"); }
      .listings .container .listings--modules .module--article {
        height: auto; }
        .listings .container .listings--modules .module--article .heading--group {
          display: flex;
          justify-content: space-between;
          align-items: flex-end; }
          .listings .container .listings--modules .module--article .heading--group .module--heading,
          .listings .container .listings--modules .module--article .heading--group p:first-of-type {
            padding-left: 16px; }
          .listings .container .listings--modules .module--article .heading--group .module--heading {
            padding-top: 16px; }
          .listings .container .listings--modules .module--article .heading--group .fas {
            color: #a1a6b1;
            padding-right: 16px; }
            .listings .container .listings--modules .module--article .heading--group .fas:hover {
              color: #f75555;
              cursor: pointer; }
        .listings .container .listings--modules .module--article p:first-of-type {
          padding-left: 16px; }
        .listings .container .listings--modules .module--article p:last-of-type {
          color: #203260;
          font-family: "Lato", sans-serif;
          font-size: 100%;
          padding: 16px 0 16px 16px; }
      .listings .container .listings--modules .module--info {
        border-top: 1px solid #d6dde9;
        margin: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px; }
        .listings .container .listings--modules .module--info p {
          font-size: 18px;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 700;
          color: #5b86d7; }
        .listings .container .listings--modules .module--info .module--btn {
          font-size: 11px;
          font-family: "Roboto Condensed", sans-serif;
          color: #fff;
          background-color: #f75555;
          border: none;
          padding: 10px;
          transition: all 0.5s ease-in-out; }
          .listings .container .listings--modules .module--info .module--btn:hover {
            background-color: #5b86d7;
            cursor: pointer; }

.tricks {
  height: 690px;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .tricks .tricks--img {
    background: url("../img/tricks.jpg") 100% center;
    background-size: cover;
    background-repeat: no-repeat; }
  .tricks .tricks--modules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f8f8f8; }
    .tricks .tricks--modules .tricks--heading {
      padding-bottom: 70px; }
    .tricks .tricks--modules .modules--group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px; }
      .tricks .tricks--modules .modules--group .title--group {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end; }
      .tricks .tricks--modules .modules--group .module--img {
        color: #5b86d7;
        margin-right: 40px; }

.breadcrumbs {
  background-color: #172343;
  height: 200px;
  display: flex;
  justify-content: center; }
  .breadcrumbs .container {
    width: 1170px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .breadcrumbs .bread--heading {
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: #f3eee5; }
  .breadcrumbs .trails {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 10%; }
    .breadcrumbs .trails a {
      font-size: 14px;
      font-family: "Lato", sans-serif;
      text-decoration: none;
      font-weight: 700;
      color: #f75555; }
      .breadcrumbs .trails a:hover {
        color: rgba(247, 85, 85, 0.4); }
    .breadcrumbs .trails .active {
      color: #5b86d7; }
    .breadcrumbs .trails .fas {
      color: #5b86d7;
      font-size: 12px; }

.agent {
  height: 650px;
  display: flex; }
  .agent .agent--thumb,
  .agent .agent--bio {
    width: 50%; }
  .agent .agent--thumb {
    background: url(../../img/agent_profile.jpg) center;
    background-size: cover; }
  .agent .agent--bio {
    display: flex;
    align-items: center;
    background-color: #203260; }
    .agent .agent--bio .agent--article {
      padding: 0 90px; }
      .agent .agent--bio .agent--article .agent--heading {
        font-size: 32px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        color: #f3eee5; }
      .agent .agent--bio .agent--article .agent--subheading {
        font-size: 16px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        color: #5b86d7;
        text-transform: uppercase;
        display: block;
        padding-top: 20px; }
      .agent .agent--bio .agent--article .agent--copy {
        padding-top: 50px;
        padding-bottom: 50px; }
      .agent .agent--bio .agent--article .social {
        width: 80px;
        display: flex;
        justify-content: space-between; }
        .agent .agent--bio .agent--article .social .fab {
          color: #5b86d7; }

.listings {
  margin-bottom: 100px; }

.breadcrumbs {
  background-color: #172343;
  height: 200px;
  display: flex;
  justify-content: center; }
  .breadcrumbs .container {
    width: 1170px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .breadcrumbs .bread--heading {
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: #f3eee5; }
  .breadcrumbs .trails {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 10%; }
    .breadcrumbs .trails a {
      font-size: 14px;
      font-family: "Lato", sans-serif;
      text-decoration: none;
      font-weight: 700;
      color: #f75555; }
      .breadcrumbs .trails a:hover {
        color: rgba(247, 85, 85, 0.4); }
    .breadcrumbs .trails .active {
      color: #5b86d7; }
    .breadcrumbs .trails .fas {
      color: #5b86d7;
      font-size: 12px; }

.agent {
  height: 650px;
  display: flex; }
  .agent .agent--thumb,
  .agent .agent--bio {
    width: 50%; }
  .agent .agent--thumb {
    background: url(../../img/agent_profile.jpg) center;
    background-size: cover; }
  .agent .agent--bio {
    display: flex;
    align-items: center;
    background-color: #203260; }
    .agent .agent--bio .agent--article {
      padding: 0 90px; }
      .agent .agent--bio .agent--article .agent--heading {
        font-size: 32px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        color: #f3eee5; }
      .agent .agent--bio .agent--article .agent--subheading {
        font-size: 16px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        color: #5b86d7;
        text-transform: uppercase;
        display: block;
        padding-top: 20px; }
      .agent .agent--bio .agent--article .agent--copy {
        padding-top: 50px;
        padding-bottom: 50px; }
      .agent .agent--bio .agent--article .social {
        width: 80px;
        display: flex;
        justify-content: space-between; }
        .agent .agent--bio .agent--article .social .fab {
          color: #5b86d7; }

.listings {
  margin-bottom: 100px; }

.add {
  display: flex;
  justify-content: center; }
  .add .container {
    width: 1170px;
    border: 1px solid #d6dde9;
    margin: 100px 0; }
  .add .wrapper {
    margin: 40px; }
    .add .wrapper .signin {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      background-color: #f9f9f9;
      border: 1px solid #d6dde9; }
      .add .wrapper .signin .signin--copy {
        width: 80%;
        color: #a1a6b1;
        font-family: "Lato", sans-serif;
        font-size: 100%;
        font-weight: 300;
        padding: 0 15px; }
      .add .wrapper .signin .signin--btn {
        background-color: #f75555;
        color: #f3eee5;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
        padding: 15px 50px;
        margin: 13px; }
        .add .wrapper .signin .signin--btn:hover {
          background-color: #5b86d7;
          cursor: pointer; }
    .add .wrapper .form--group {
      display: inline-block;
      height: 75px;
      width: 100%;
      margin-top: 40px; }
      .add .wrapper .form--group .group--input {
        height: 50px;
        width: 100%;
        margin-top: 10px;
        border: 1px solid #d6dde9; }
        .add .wrapper .form--group .group--input::-webkit-input-placeholder {
          padding-left: 20px; }
        .add .wrapper .form--group .group--input:-ms-input-placeholder {
          padding-left: 20px; }
        .add .wrapper .form--group .group--input::-ms-input-placeholder {
          padding-left: 20px; }
        .add .wrapper .form--group .group--input::placeholder {
          padding-left: 20px; }
      .add .wrapper .form--group .descript {
        height: 350px;
        width: 100%;
        background-color: rgba(161, 166, 177, 0.3);
        margin-top: 10px;
        border: 1px solid #d6dde9; }
    .add .wrapper .map--box {
      height: 350px;
      width: 100%;
      background-color: rgba(161, 166, 177, 0.3);
      margin-top: 40px;
      background: url("../img/world-map.jpg") 100% center;
      background-size: cover;
      border: 1px solid #d6dde9; }
  .add .add--btn {
    display: block;
    width: 100%;
    background-color: #f75555;
    color: #f3eee5;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px 50px;
    margin-top: 40px; }
    .add .add--btn:hover {
      background-color: #5b86d7;
      cursor: pointer; }

.contact {
  display: flex; }
  .contact .map {
    width: 50%;
    height: 750px;
    background-color: lightgreen;
    background: url("../../img/world-map.jpg") center;
    background-size: cover; }
  .contact .form {
    display: flex;
    align-items: center;
    width: 50%;
    height: 750px;
    background-color: #f8f8f8; }
    .contact .form .contact--article {
      padding: 0 90px; }
      .contact .form .contact--article .article--heading {
        margin-bottom: 50px; }
      .contact .form .contact--article .article--copy {
        padding: 0;
        margin-bottom: 50px; }
      .contact .form .contact--article .input--group {
        display: flex;
        justify-content: space-between; }
        .contact .form .contact--article .input--group .contact--input {
          width: 48%;
          height: 50px; }
          .contact .form .contact--article .input--group .contact--input::-webkit-input-placeholder {
            color: #a1a6b1;
            font-family: "Lato", sans-serif;
            font-weight: 700;
            padding-left: 20px; }
          .contact .form .contact--article .input--group .contact--input:-ms-input-placeholder {
            color: #a1a6b1;
            font-family: "Lato", sans-serif;
            font-weight: 700;
            padding-left: 20px; }
          .contact .form .contact--article .input--group .contact--input::-ms-input-placeholder {
            color: #a1a6b1;
            font-family: "Lato", sans-serif;
            font-weight: 700;
            padding-left: 20px; }
          .contact .form .contact--article .input--group .contact--input::placeholder {
            color: #a1a6b1;
            font-family: "Lato", sans-serif;
            font-weight: 700;
            padding-left: 20px; }
      .contact .form .contact--article .contact--textarea {
        width: 100%;
        margin-top: 4%; }
        .contact .form .contact--article .contact--textarea::-webkit-input-placeholder {
          color: #a1a6b1;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          padding-top: 20px;
          padding-left: 20px; }
        .contact .form .contact--article .contact--textarea:-ms-input-placeholder {
          color: #a1a6b1;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          padding-top: 20px;
          padding-left: 20px; }
        .contact .form .contact--article .contact--textarea::-ms-input-placeholder {
          color: #a1a6b1;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          padding-top: 20px;
          padding-left: 20px; }
        .contact .form .contact--article .contact--textarea::placeholder {
          color: #a1a6b1;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          padding-top: 20px;
          padding-left: 20px; }
      .contact .form .contact--article .contact--btn {
        padding: 20px 60px;
        margin-top: 3%;
        background-color: #f75555;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: #f3eee5; }
        .contact .form .contact--article .contact--btn:hover {
          cursor: pointer;
          background-color: #5b86d7; }
