@import "variables";

// Extends
%borderRight { border-right: 2px solid $borderGrey; }
%border { border: 1px solid $borderGrey; }
%boxShadow { box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .1); }

%section--heading {
    font-size: 32px;
    font-family: $headerFont;
    font-weight: 700;
    color: $headerBlue;
}

%module--heading {
    font-size: 16px;
    font-family: $headerFont;
    font-weight: 700;
    color: $headerBlue;
}

%module--copy {
    color: $grey;
    font-family: $copyFont;
    font-size: 100%;
    font-weight: 300;
    padding-top: 16px;    
    line-height: 22px;
}

%carousel--module {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;

  .testimonial--thumb {
    width: 50%;
    height: 100%;
  }
}


%--btn {
  padding: 0;
  margin: 0;
  border: none;
}














