
// Variables
$linkColor:  #9eaaca;

$headerFont: 'Roboto Condensed', sans-serif;
$copyFont:   'Lato', sans-serif;

$headerBlue: #203260;
$headingBlue: #173857;
$mediumBlue: #213361;
$darkBlue: #19274b;
$accentBlue: #5b86d7;
$subtleBlue: #2d437b; // for copy and small text
$accentRed:  #f75555;
$borderGrey: #d6dde9;
$white: #f3eee5;
$grey: #a1a6b1;





















