// Imports
// @import "extends";
// @import "variables";
// @import "mixins";


// Popupar Listing Section styles
.recently-featured {
    display: flex;
    justify-content: center;

    .container {
        width: 1170px;
        height: 830px;

        display: grid;
        grid-template-rows: 250px 1fr;

        // listings Title Styles
        .listings--title {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 50px;

            .listings--heading {
                @extend %section--heading;
            }

            .listings--title-btn {
                border: none;
                background-color: transparent;
                color: rgba($accentRed, 50%);
                border: 1px solid $accentRed;
                text-transform: uppercase;
                padding: 5px 10px;
                font-size: 10px;
                font-family: $copyFont;

                &:hover {
                    background-color: $accentBlue;
                    color: #fff;
                    border: 1px solid transparent;
                    cursor: pointer;
                }
            }
        }

        // Modules wrapper styles
        .listings--modules {
            display: flex;
            justify-content: space-between;

            // Module styles
            .module {
                border: 1px solid $borderGrey;
                width: 32%;
                height: 430px;
                position: relative;

                .flag {
                    background-color: $headerBlue;
                    display: inline-block;
                    color: $white;
                    font-size: 12px;
                    font-family: $copyFont;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    position: absolute;
                    top: 20px;
                    left: 110px;
                }

                .flag.f {
                    background-color: $accentRed;
                    display: inline-block;
                    color: $white;
                    font-size: 12px;
                    font-family: $copyFont;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                }

                .one {
                    width: 100%;
                    height: 60%;
                    background: url('../img/module-img3.jpg') 50% center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .two {
                    width: 100%;
                    height: 60%;
                    background: url('../img/module-img2.jpg') 50% center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .three {
                    width: 100%;
                    height: 60%;
                    background: url('../img/module-img.jpg') 50% center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .one:hover,
                .two:hover,
                .three:hover {
                    background-size: 130%;
                }
            }


            .module--article {
                height: auto;

                .module--heading,
                p:first-of-type {
                    padding-left: 16px;
                }


                .module--heading {
                    @extend %module--heading;
                    padding-top: 16px;
                }

                & p:first-of-type {
                    @extend %module--copy;
                }

                & p:last-of-type {
                    color: $headerBlue;
                    font-family: $copyFont;
                    font-size: 100%;
                    padding: 16px 0 16px 16px;
                }
            }

            .module--info {
                border-top: 1px solid $borderGrey;
                margin: 0 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;

                p {
                    font-size: 18px;
                    font-family: $headerFont;
                    font-weight: 700;
                    color: $accentBlue;
                }

                .module--btn {
                    font-size: 11px;
                    color: #fff;
                    background-color: $accentRed;
                    border: none;
                    padding: 10px;

                    &:hover {
                        background-color: $accentBlue;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}












