// Imports
// @import "variables";
// @import "mixins";
// @import "extends";



// Styles
.intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    justify-content: center;

    height: 800px;
    //background: url('../../img/bath.jpg') no-repeat center center;
    //background-size: cover;

    .carousel-inner {
        height: 800px;
        z-index: -100;
    }

    // Header-Logo-Navigation Styles
    // overall header styles
    .intro--header {
        background-color: $headerBlue;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            width: 1170px;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .intro--logo {
            height: 80px;
        }

        // navigation styles
        .intro--list {
            width: 750px;
            height: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .list--link {
            font-size: 14px;
            text-decoration: none;
            color: $linkColor; 
            font-family: $headerFont;
            font-weight: 700;
            //width: 100%;
            padding: 0 40px; 
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $accentBlue;
                color: #fff;
            }

            &:last-of-type {
                background-color: #fff;
                color: $accentRed;

                &:hover {
                    background-color: $accentBlue;
                    color: #fff;
                }
            }
        }
        //end of navigation styles
    }
    // End Of Header-Navigation Styles

    // Floating listing panel Styles
    .container {
        width: 1170px;
        height: 400px;
        display: flex;
        justify-self: center;
        align-items: flex-end;

        .module {
            border: 1px solid $borderGrey;
            width: 450px;
            height: 210px;
            //position: absolute;
            background-color: #fff;

            .module--article {
                height: auto;

                .module--heading,
                p:first-of-type {
                    padding-left: 16px;
                }


                .module--heading {
                    @extend %module--heading;
                    padding-top: 16px;
                }

                & p:first-of-type {
                    @extend %module--copy;
                }

                & p:last-of-type {
                    color: $headerBlue;
                    font-family: $copyFont;
                    font-size: 100%;
                    padding: 16px 0 16px 16px;
                }
            }

            .module--info {
                border-top: 1px solid $borderGrey;
                margin: 0 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 90px;

                p {
                    font-size: 18px;
                    font-family: $headerFont;
                    font-weight: 700;
                    color: $accentBlue;
                }

                .module--btn {
                    font-size: 11px;
                    color: #fff;
                    background-color: $accentRed;
                    border: none;
                    padding: 10px;

                    &:hover {
                        background-color: $accentBlue;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    // Intro Search Form Section Styles
    .intro--search {
        display: flex;
        width: 1170px;
        justify-self: center;
        align-self: end;
        margin-bottom: -50px;
        @extend %boxShadow;

        .intro--input, 
        .intro--listings, 
        .listings--btn {
            height: 100px;
            padding: 40px;
            border: none;
        }

        .intro--input {
            width: 60%;
            @extend %borderRight;
            &::placeholder {
                color: $subtleBlue;
                font-family: $copyFont;
                font-weight: 700; 
                font-size: 15px;
            }
        }

        .intro--listings.type {
            @extend %borderRight;
            width: 22%;
        }

        .intro--listings.beds {
            width: 18%;
        }

        select, option {
            color: $subtleBlue;
            font-family: $copyFont;
            font-size: 15px;
        }

        .listings--btn {
            background-color: $accentRed;
            color: #fff;

            &:hover {
                background-color: $accentBlue;
            }
        }
    }
}








