
// Imports
// @import "extends";
// @import "variables";
// @import "mixins";


// Testimonials Styles
.testimonial {
  height: 650px;
  position: relative;
  overflow: hidden;

  .btn--group {
    z-index: 1000;
    position: absolute;
    left: 100px;
    bottom: 100px;
    padding: 0;
    margin: 0;

    .btn {
      padding: 0;
      margin: 0;
      border: none;
      width: 50px;
      height: 50px;
      background: $headerBlue;
      cursor: pointer;
      color: $white;

      &:hover, &:focus {
        background-color: $accentBlue;
        outline: none;
      }
    }

    .next { 
      margin-left: -4px; 
    }
  }

  // Carousel Mosule(all three) Styles
  .carousel--module {
    @extend %carousel--module;
  }

  .one {
    top: 0;
    left: 0;

    .testimonial--thumb {
      background: url('../img/client_1.jpg') 100% center;
      background-size: cover;
    }
  }

 .two {
    top: 0;
    left: 100%;

    .testimonial--thumb {
      background: url('../img/client_2.jpg') 100% center;
      background-size: cover;
    }
  }

  .three {
    top: 0;
    left: 200%;

    .testimonial--thumb {
      background: url('../img/client_1.jpg') 100% center;
      background-size: cover;
    }
  }

    .testimonial--quote {
      background: $mediumBlue;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .testimonial--blockquote {
        padding: 70px;

        .fas {
          font-size: 2em;
          margin-bottom: 40px;
          color: #ff6363;
        }

        .testimonial--copy {
          color: $white;
          font-family: $headerFont;
          font-weight: 700;
          font-size: 2em;
        }

        .testimonial--list {
          margin-top: 40px;

          .list--item:first-child {
            font-family: $headerFont;
            font-weight: 700;
            font-size: 18px;
            color: $white;
            margin-bottom: 20px;
          }

          .list--item:last-child {
            font-family: $copyFont;
            font-weight: 400;
            font-size: 16px;
            color: $accentBlue;
          }
        }
      }
    }
}

















