//Agents


.breadcrumbs {
    background-color: #172343;
    height: 200px;
    display: flex;
    justify-content: center;

    .container {
        width: 1170px;
        height: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bread--heading {
        font-size: 32px;
        font-family: $headerFont;
        font-weight: 700;
        color: $white;
    }

    .trails {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 10%;

        a {
            font-size: 14px;
            font-family: $copyFont;
            text-decoration: none;
            font-weight: 700;
            color: $accentRed;

            &:hover {
                color: rgba($accentRed, .4);
            }
        }

        .active {
            color: $accentBlue;
        }

        .fas {
            color: $accentBlue;
            font-size: 12px;
        }
    }
}

.agent {
    height: 650px;
    display: flex;

    .agent--thumb,
    .agent--bio {
        width: 50%;
    }

    .agent--thumb {
        background: url(../../img/agent_profile.jpg) center;
        background-size: cover;
    }

    .agent--bio {
        display: flex;
        align-items: center;
        background-color: $headerBlue;

        .agent--article {
            padding: 0 90px;

            .agent--heading {
                font-size: 32px;
                font-family: $headerFont;
                font-weight: 700;
                color: $white;
            }

            .agent--subheading {
                font-size: 16px;
                font-family: $headerFont;
                font-weight: 700;
                color: $accentBlue;
                text-transform: uppercase;
                display: block;
                padding-top: 20px;
            }

            .agent--copy {
                @extend %module--copy;
                padding-top: 50px;
                padding-bottom: 50px;
            }

            .social {
                width: 80px;
                display: flex;
                justify-content: space-between;

                .fab {
                    color: $accentBlue;
                }
            }
        }
    }
}


.listings {
    margin-bottom: 100px;
}

